/* CSS Document */
.imimonial {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-right: 60px;
}
.testimonial {
  border-radius: 25px;
  padding: 30px;
  color: #000;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  line-height: 1.7;
  font-style: italic;
}
.testimonial .vcard figure {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
}
.testimonial .vcard figure img {
  border-radius: 50%;
}
.testimonial .vcard .vcard-text {
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}
.testimonial .vcard .vcard-text .position {
  color: #b3b3b3;
}
.testimonial strong {
  font-weight: 400;
  padding: .3rem 0;
  background: #faf5bb;
}
.img-round {
  border-radius: 15px;
}

.h3-sub{
	font-style: normal;
}
.h3-sub-span{
	font-style: normal;
	color: gray;
}